@{
    ViewBag.Title = "About";
}

<div class="justify-content-center" id="box-search">
    <div class="thumbnail text-center">
        <img src="~/Content/beautiful-river.jpg" alt="" class="img-responsive">
        <div class="caption">
            <p><span>Serving the community one penny at a time.</span></p>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <tr>
            <th colspan="3">Hours Of Operation</th>
        </tr>
        <tr>
            <td>Day</td>
            <td>Open</td>
            <td>Close</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>9:00</td>
            <td>5:00</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>9:00</td>
            <td>5:00</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>9:00</td>
            <td>5:00</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>9:00</td>
            <td>5:00</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>9:00</td>
            <td>5:00</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>Closed</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Closed</td>
            <td>Closed</td>
        </tr>
    </table>
</div>
