@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col my-primary bg-light">
            <div class="container">
                <div class="col">
                    <h1>Welcome To Alliance Bank!</h1>
                    <em>We are home of the deal!</em>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <img src="~/Content/LoanSale.png" />
            <!--
        <asp:ImageButton ID="btnLoanSale" runat="server" ImageUrl="./images/loansale.png" OnClick="btnLoanSale_Click" />
        -->
            <br />
            <span id="loanSaleClicks" runat="server"></span>
        </div>
        <div class="col">
            <h3>Our Mission</h3>
            <p>
                Donec sed odio dui. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Sed
                posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus.
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th colspan="3">Hours Of Operation</th>
                </tr>
                <tr>
                    <td>Day</td>
                    <td>Open</td>
                    <td>Close</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>9:00</td>
                    <td>5:00</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9:00</td>
                    <td>5:00</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9:00</td>
                    <td>5:00</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9:00</td>
                    <td>5:00</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9:00</td>
                    <td>5:00</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <tr>
                    <th colspan="2">Services</th>
                </tr>
                <tr>
                    <td>Loan</td>
                    <td>4%</td>
                </tr>
                <tr>
                    <td>Cash Service</td>
                    <td>Free for Customers</td>
                </tr>
                <tr>
                    <td>ATM Service</td>
                    <td>Free for Customers</td>
                </tr>
                <tr>
                    <td>Checking Service</td>
                    <td>$4.00</td>
                </tr>
                <tr>
                    <td>Savings Service</td>
                    <td>$100.99</td>
                </tr>
                <tr>
                    <td>Bathrooms</td>
                    <td>Free for Customers</td>
                </tr>
                <tr>
                    <td>Online Banking</td>
                    <td>Free for Customers</td>
                </tr>
                <tr>
                    <td>Coin Exchange Service</td>
                    <td>Free for Customers</td>
                </tr>
            </table>
        </div>
    </div>
</div>

